<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to 'Show', question_path %> |
    <%= link_to 'Back', test_questions_path(@question) %>
  </div>
  <div id="content">
    <h2>Editing  <%= @question.test.title %> Question</h2>
    <%= render 'form', question: @question %>
  </div>
</div>
