<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
      <%= link_to 'Back to tests', tests_path %>
  </div>
  <div id="content">
    <h2>Listing Questions</h2>
    <table>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Test name</th>
          <th colspan="3">Actions</th>
        </tr>
      <%= render @questions %>
    </table>
    <br>
  </div>
</div>
