<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
  <%= link_to 'Back', tests_path %>
  </div>
  <div id="content">
  <h2>Create New <%= question_header(@test) %> Question</h2>
  <%= render 'form', question: @question %>
  </div>
</div>

