   <tr>
    <td><%= link_to gist.question.description.slice(0..25), admin_question_path(gist.question) %></td>
    <td><%= gist.user.email %></td>
    <td><%= link_to 'gist_url', gist.gist_url %></td>
  </tr>

