
<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to 'Back to tests', tests_path %>
    <%  @test_passage.reset_indicator_number_question %>
  </div>
  <div id="content">
    <h2><%= selection_message %> </h2>
    <p>
      <h2>Test result:</h2>
      <h1>
        <font color="<%= selection_style %>">
          <%= @test_passage.success_rate %>%
        </font>
      </h1>
    </p>
  </div>
</div>
