  <div id="sidebar_footer">
    <h2>
      Веб-приложение
      <%= github_url("TestGuru", "https://github.com/DADUSHKA/web_application.git") %> это:
    </h2>
    <ul>
     <li>создание тестов;</li>
     <li>управление тестами;</li>
     <li>выполнение тестов;</li>
     <li>публикация результатов в соцсетях.</li>
    </ul>
  </div>
  <div id="content_footer">
    <h2>Виктор Сторожев</h2>
    <ul>
      <li>
        Разработчик веб-приложения
       <%= github_url("TestGuru", "https://github.com/DADUSHKA/web_application.git") %>.
      </li>
     <li>Изучаю фреймворк "Ruby on Rails" с помощью онлайн-курсов от "<a href="http://www.thinknetica.com/" target="_blank">Thinknetica</a>"</li>
    </ul>
  </div>

