  <div id="sidebar_footer">
    <h2>
      Веб-приложение
      <%= github_url("TestGuru", "DADUSHKA", "web_application") %> это:
    </h2>
    <ul>
     <li>создание тестов;</li>
     <li>управление тестами;</li>
     <li>выполнение тестов;</li>
     <li>публикация результатов в соцсетях.</li>
    </ul>
  </div>
  <div id="content_footer">
    <h2>Виктор Сторожев</h2>
    <ul>
      <li>
        Разработчик веб-приложения
       <%= github_url("TestGuru", "DADUSHKA", "web_application") %>.
      </li>
     <li>Изучаю фреймворк "Ruby on Rails" с помощью онлайн-курсов от <%= thinknetica_url %></li>
    </ul>
  </div>

