

<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
 <%= link_to 'Back', question_path(@question) %>
  </div>
  <div id="content">
    <h1>New Answer</h1>

  <h2> <%= @question.description %> </h2>
 <%= render 'form', answer: @answer %>
  </div>
</div>
