<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
 <%= link_to t('.back'), admin_question_path(@question) %>
  </div>
  <div id="content">
    <h1><%= t('.header') %></h1>
  <h2> <%= @question.description %> </h2>
 <%= render 'form', answer: @answer %>
  </div>
</div>
