<tr>
  <td><%= category.title %></td>
  <td><%= link_to t('.show'),admin_category_path(category) %></td>
  <td><%= link_to t('.edit'), edit_admin_category_path(category) %></td>
  <td><%= link_to t('.destroy'),admin_category_path(category),
   method: :delete, data: { confirm: t('.confirm') } %></td>
</tr>
