<div class="testimonials">

<div class="think">
<p class="link">  <a href="http://www.thinknetica.com/">Thinknetica.com</a></p>
</div>

<div class="author">
<p><%= link_to "Обо мне", about_author_path %></p>
</div>

    <h2>TestGuru</h2>
      <p class="content">Веб-приложение для создания,управления, выполнения различных
      тестов и публикации результатов в соцсетях.</p>

</div>


