<div class="testimonials">

<div class="think">
  <p class="link">  <a href="https://github.com/DADUSHKA/web_application.git/">TestGuru на GitHab</a>
</p>
</div>

<div class="author">
<p><%= link_to "Назад", root_path %></p>
</div>

    <h3>Виктор Сторожев</h3>
      <p>Изучаю фреймворк "Ruby on Rails" с помощью онлайн-курсов от "Thinknetica.com",
      разработчик веб-приложения "TestGuru".</p>
</div>
