/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h2{
  text-align: center;
    color: #4e4e4e;
    font-family: "lato_regular", arial;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
p{
    color: #8e8d8d;
    font-family: "lato_regular", arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
.author p{
  color: #8e8d8d;
    font-family: "lato_regular", arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 70px;
    margin-right: 70px;
}
.content{
  color: #8e8d8d;
    font-family: "lato_regular", arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 70px;
    margin-right: 70px;
}
.testimonials{
    width: 100%;
    height: auto;
}

.link{
  margin-left: 300px;
}

.author{
    width: 49%;
    height: auto;
    border: 1px solid #F3F3F3;
    color: #686767;
    font-family: "lato_bold", arial;
    font-size: 16px;
    font-weight: bold;

}
.think {
    width: 49%;
    height: auto;
    float: right;
    border: 1px solid #F3F3F3;
    color: #686767;
    font-family: "lato_bold", arial;
    font-size: 16px;
    font-weight: bold;
}
