<% Gist.gists.each do|data| %>
  <tr>
    <td><%= link_to data.question, admin_question_path(Question.object(data.question)) %></td>
    <td><%= User.by_id(data.user_id).email %></td>
    <td><%= link_to 'gist_url', data.gist_url %></td>
  </tr>
<% end %>
