<% Gist.all.each do|data| %>
  <tr>
    <td><%= link_to data.question, admin_question_path(Question.get_object(data.question)) %></td>
    <td><%= User.find(data.user_id).email %></td>
    <td><%= link_to 'gist_url', data.gist_url %></td>
  </tr>
<% end %>
