<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
    <%= link_to t('.back'), admin_tests_path(@test) %>
  </div>
  <div id="content">
  <h2><%= t('.header') %></h2>
    <%= render 'form', test: @test %>
  </div>
</div>
