<div id="container">
  <div id="header">TestGuru</div>
  <div id="sidebar">
<% if current_user.admin_status? %>
  <%= link_to 'AdminPanel',  admin_tests_path %>
<% end %>
  </div>
  <div id="content">
    <h2>Tricky Tests</h2>
    <table>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Author</th>
      <th>Category</th>
      <th>Total questions</th>
    </tr>
    <%= render @tests %>
    </table>
  </div>
</div>

